*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #e554731d;
}
.primary-btn{
    color: honeydew;
    height: 64px;
    width: 200px;
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    border: 0px;
    font-weight: 700;
    padding: 18px 35px;
}
.secondery-btn {
    color: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    background: whitesmoke;
    font-size: 20px;
    border: 0px;
    font-weight: 700;
    padding: 18px 35px;
    width: 200px;
}

/* bannar style */
.banner{
    display: flex;
    margin:0px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between
    ;
    
}
.banner-tittle{
    font-weight: 700;
    font-size: 85px;
}
.banner-ditels{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
/* ---------------main--------------------- */
.featured-flowers{
    text-align: center;
    margin-top: 5%;
}
.me{
    color:#000000;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.flower-type{
    margin-bottom: 10%;
    justify-content: space-around;
}
.flower-img{
    background-color: rgba(232, 120, 232, 0.216);
    padding: 1rem;
    border-radius: 30% ;
}
.flower-type{
    display: flex;
    justify-content: space-around;
}
.flower-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.info-tittle{
    font-size: 20px;
    margin-top: 5%;
    color: #000000;
}
.info-discription{
    font-weight: 700;
    font-size: 20px;
    
}

/*===============================services================ */

.services{
    background-color: #5e5a571b;
    margin: 130px 230px;
    text-align: center;
    padding: 131px 156px;
}
.service-container{
    display: flex;
    text-align: left;
    gap: 24px;
    justify-content: space-around;
}
.service{
    padding: 30px;
    text-align: center;
}
.service-discription{
    color: #050505;
    margin-bottom: 2%;
    margin-top: 2%;
}
/* =============offer------------------ */
.offer{
background-color: #f8a9ba31;
display: flex;
justify-content: space-around;
}
.offer-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
}
.offer-detils{
    margin-bottom: 6%;
}
.offer-img{
padding: 2%;
}
/* instagram */
.instagram{
    margin-top: 10%;
    margin-bottom: 5%;
}
.instagram-top{
    text-align: center;
}
.instagram-img, img{
    text-align: center;
    padding: 2%;
}
/* latest datils */
.latest-datils{
    background-image: url(../img/Rectangle\ 9.png);
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size:80%;
    width: 100%;
    padding-bottom: 10%;
}
#email{
    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}
.datils-input{

}
/* =================footer contact=============================== */

.footer{
    margin-top: 5%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    padding-bottom: 6%;
}
